<div class="page-header">
  <%= link_to patient_list_patients_path(@patient_list), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New patient</h1>
</div>

<%= render 'form' %>
